@import 'global';

.home-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-direction: column;

    .header {
        background-color: $hookers-green;
        color: $lavender-web;
        padding: 20px;
        text-align: center; 

        .title {
            margin: 0;
        }
    }
}